.zSct {
    position: relative;
    width: 280px;
}

.zSct+select {
    position: fixed;
    left: -999px;
}

.zSct--focus {
    outline: 2px dashed #0400ff;
    outline-offset: 1px;
}

/* .zSct__body */
.zSct__body {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 45px 10px 7px;
    background: #fff;
    position: relative;
    cursor: default;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;

    box-sizing: border-box;
    min-height: 50px;
}

.zSct__body-toggle {
    display: block;
    width: 13px;
    height: 13px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -11px 0 0;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zSct__body-toggle:hover {
    border-left: 2px solid #f00;
    border-bottom: 2px solid #f00;
}

.zSct__body-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 2px 2px 2px 4px;
    gap: 4px;
}

.zSct__body-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zSct__body-unselect {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.zSct__body-unselect:hover {
    background: red;
    color: #fff;
}

/* /.zSct__body */

/* .zSelect__menu */
.zSelect__menu {
    display: none;
    overflow: hidden;
    z-index: 100;
    background: #fff;
    border: 1px solid #000;
    padding: 0px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.36);
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    margin: 2px 0 0;
    border-radius: 10px;
}

.zSelect__menu--open {
    display: block;
}

/* /.zSelect__menu */

/* .zSelect__menu-list-optgroup */
.zSelect__menu-list-optgroup {}

.zSelect__menu-list-optgroup-label {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 5px;
    padding: 5px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zSelect__menu-list-optgroup-childs {
    padding: 0;
}

/* /.zSelect__menu-list-optgroup */

/* .zSct__option */
.zSct__option {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
    padding: 10px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zSelect__optgroup .zSct__option {
    padding-left: 33px;
}

.zSct__option:hover {
    background: #1e90ff;
    color: #fff;
}

.zSct__option--selected {
    cursor: default;
    position: relative;
    background: #00488f;
    color: #fff;
}

.zSct__option--selected:hover {
    cursor: default;
}

.zSct__option--disabled {
    background: #fff;
    cursor: default;
    opacity: 0.5;
    color: #000;
}

.zSct__option--disabled:hover {
    background: #fff;
    cursor: default;
    opacity: 0.5;
    color: #000;
}

/* /.zSct__option */